        button {
            width: 100px;
        }
        
        #addAnimal-div {
            width: 100%;
        }
        
        form {
            margin-top: 6px;
        }
        
        #animal-text {
            margin-left: 4px;
            color: black;
            margin-top: -2px;
        }
        
        .pAnimal {
            color: white;
            margin-left: 4px;
            margin-top: 10px;
        }
        
        .container {
            max-width: 980px;
            margin: auto;
            border: 1px solid #dddddd;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            min-height: 100vh;
        }
        
        body {
            background-image: url("../Images/bg.jpg");
        }
        
        #button-div,
        #addAnimal-div,
        #gif-div {
            width: 100%;
            background-color: transparent;
            margin-top: 10px;
            border: 1px solid white;
            border-radius: 5px;
            flex-wrap: wrap;
        }
        
        button {
            margin: auto;
            margin: 4px 4px 4px 4px;
            color: white;
            background-color: green;
        }
        
        #btnAdd-animal {
            margin: 4px 0px 4px 4px;
            color: white;
        }
        
        img {
            margin: auto;
            border: 1px solid white;
            border-radius: 4px;
            padding: 5px;
            width: 200px;
            height: 200px;
        }
        
        button:active {
            background-color: darkgreen;
        }
        
        .animal-info {
            padding-top: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        
        figure {
            float: right;
            width: 30%;
            text-align: center;
            font-style: italic;
            font-size: smaller;
            text-indent: 0;
            border: thin silver solid;
            margin: 0.5em;
            padding: 0.5em;
            color: white;
        }
        
        .flex-container {
            display: flex;
            flex-wrap: nowrap;
            background-color: DodgerBlue
        }