    button {
        width: 100px;
        height: 50px;
        margin-left: 6px;
    }
    
    #button-div {
        border: black;
        border-style: solid;
        border-width: .8px;
    }
    
    #gif-div {
        border: black;
        border-style: solid;
        border-width: .8px;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color: DodgerBlue;
    }
    
    img {
        max-width: 400px;
        max-height: 200px;
        margin: 10px;
    }